<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project File-1 Server Side</title>
    <link rel="stylesheet" href="../static/CSS/styles_navbar.css">
    <link rel="stylesheet" href="../static/CSS/styles_mainBody.css">
    <link rel="stylesheet" href="../static/CSS/side_navbar.css">
    <script src="../static/JS/script_main.js"></script>
</head>
<body class="body">
    <div class="nav-bar-top">
        <input type="text" id="user-blog-input-heading" placeholder="Add a Blog">
        <button onclick="takevalue()" onsubmit="takevalue()">Submit</button>
    </div>
    <div class="body-index-division">
        <div class="nav-bar-side">
            <p class="Side-bar-Blog-Heading">Football Blog<ion-icon name="caret-down"></ion-icon></p>
            <button class="Blogpost-Create-Btn"><ion-icon name="add"></ion-icon>NEW POST</button>
            <hr>
            <ul>
                <li><ion-icon name="list"></ion-icon>Posts</li>
                <li><ion-icon name="stats-chart"></ion-icon>Stats</li>
                <li><ion-icon name="chatbox"></ion-icon>Comments</li>
                <li><ion-icon name="card"></ion-icon>Earnings</li>
                <li><ion-icon name="newspaper"></ion-icon>Pages</li>
                <li><ion-icon name="layers"></ion-icon>Layout</li>
                <li><ion-icon name="create"></ion-icon>Theme</li>
                <li><ion-icon name="settings"></ion-icon>Settings</li>
                <li><ion-icon name="bookmark"></ion-icon>Reading List</li>
            </ul>
            <hr>
            <ul>
                <li><ion-icon name="book"></ion-icon>View Other Blogs</li>
                <li><ion-icon name="eye"></ion-icon>Preview Blogpost</li>
            </ul>
            <p class="side-bar-footer">&#169; Copyright 2023 by @Homes</p>
            <p class="side-bar-footer">Terms And Condition</p>
        </div>
        <div class="blogpost-general-info">
        </div>
        <div class="body-index-blog-division">
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>