@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.form-sign-in{
    width: 250px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    padding: 40px 50px;
    margin: 40px;
    /* margin-left: 10px; */
    text-align: center;
}
.form-sign-in h1{
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}
.form-sign-in form{
    padding: 20px;
}
.input-bar{
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 20px;
    padding: 3px 5px;
    border-radius: 5px;
    border: none;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
#submit-btn{
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: orange;
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgba(46, 44, 44, 0.64);
    color: white;
}
.form-sign-in form hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
#facebook{
    background-color: #3b5998;
    padding: 5px 8px;
    font-size: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#google{
    padding: 5px 8px;
    margin-bottom: 10px;
    width: 200px;
}
.sign-in-opt-btn{
    cursor: pointer;
}
.icon{
    transform: translateY(2px);
    margin-right: 5px;
}