@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.nav-bar-side{
    padding: 20px;
    padding-right: 40px;
    border-right: 2px solid rgba(57, 55, 55, 0.39);
}
.nav-bar-side:hover{
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.nav-bar-side p{
    padding: 3px;
}
.nav-bar-side p:hover{
    background-color: rgba(170, 158, 158, 0.451);
    transition: 1s;
    border-radius: 5px;
    cursor: pointer;
}
.nav-bar-side p ion-icon{
    font-size: 15px;
    transform: translateY(-3px);
    padding-left : 10px;
}
.nav-bar-side ul{
    margin-top: 20px;
    list-style: none;
}
.nav-bar-side ul li{
    margin-bottom: 20px;
    font-size: 18px;
}
.nav-bar-side ul li ion-icon{
    transform: translateY(3px);
    padding-right : 15px;
}
.nav-bar-side ul li:hover{
    cursor: pointer;
    color: orange;
}
.Side-bar-Blog-Heading{
    color: rgb(77, 79, 81);
    font-size: 23px;
}
.Blogpost-Create-Btn{
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: orange;
    background-color: white;
    border: 2px solid rgba(191, 191, 191, 0.352);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.Blogpost-Create-Btn ion-icon{
    transform: translateY(3px);
    padding-right : 3px;
}
.nav-bar-side hr{
    width: 100%;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.side-bar-footer{
    font-size: 12px;
    text-align: center;
    color: rgba(80, 78, 78, 0.729);
}
.nav-bar-side{
    color: rgba(0, 0, 0, 0.60);
}