@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.body{
    background-image: url('../../Static Images/Image_2.jpg');
    transition: 1s;
    display: grid;
    background-repeat: no-repeat;
}
.main-boy-container{
    margin-top: 30px;
}
.nav-bar-top img{
    width: 40px;
    margin: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.nav-image-heading{
    display: flex;
    float: left;
    width: 50%;
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.nav-image-button-wrapper{
    float: left;
    width: 50%;
    text-align: end;
}
.Nav-Button{
    margin: 20px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 15px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    padding: 5px 8px;
    cursor: pointer;
}
.Nav-Button:hover{
    color: rgba(86, 83, 83, 0.559);
    transition: 0.5s;
}
.body-index-heading{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.main-index-button{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
    background-color: black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 8px;
}
#Sign-In-Btn{
    background-color: orange;
    color: white;
}